@import "tailwindcss";

@theme {
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.09 0.02 264);
    --color-card: oklch(1 0 0);
    --color-card-foreground: oklch(0.09 0.02 264);
    --color-popover: oklch(1 0 0);
    --color-popover-foreground: oklch(0.09 0.02 264);
    --color-primary: oklch(0.47 0.15 142);
    --color-primary-foreground: oklch(0.97 0.01 355);
    --color-secondary: oklch(0.96 0.01 240);
    --color-secondary-foreground: oklch(0.09 0.02 240);
    --color-muted: oklch(0.96 0.01 240);
    --color-muted-foreground: oklch(0.45 0.02 240);
    --color-accent: oklch(0.96 0.01 240);
    --color-accent-foreground: oklch(0.09 0.02 240);
    --color-destructive: oklch(0.62 0.21 0);
    --color-destructive-foreground: oklch(0.97 0.01 355);
    --color-border: oklch(0.89 0.01 240);
    --color-input: oklch(0.89 0.01 240);
    --color-ring: oklch(0.47 0.15 142);
    --color-warning: oklch(0.68 0.15 38);
    --color-warning-foreground: oklch(0 0 0);
    --color-success: oklch(0.47 0.15 142);
    --color-success-foreground: oklch(0.97 0.01 355);
    --color-info: oklch(0.58 0.18 199);
    --color-info-foreground: oklch(0.97 0.01 355);
}

@media (prefers-color-scheme: light) {
  @theme {
  --color-background: oklch(0.09 0.02 264);
  --color-foreground: oklch(0.98 0.02 264);
  --color-card: oklch(0.09 0.02 264);
  --color-card-foreground: oklch(0.98 0.02 264);
  --color-popover: oklch(0.09 0.02 264);
  --color-popover-foreground: oklch(0.98 0.02 264);
  --color-primary: oklch(0.47 0.15 142);
  --color-primary-foreground: oklch(0.97 0.01 355);
  --color-secondary: oklch(0.26 0.06 217);
  --color-secondary-foreground: oklch(0.98 0.02 264);
  --color-muted: oklch(0.26 0.06 217);
  --color-muted-foreground: oklch(0.68 0.03 215);
  --color-accent: oklch(0.26 0.06 217);
  --color-accent-foreground: oklch(0.98 0.02 264);
  --color-destructive: oklch(0.62 0.21 0);
  --color-destructive-foreground: oklch(0.98 0.02 264);
  --color-border: oklch(0.26 0.06 217);
  --color-input: oklch(0.26 0.06 217);
  --color-ring: oklch(0.47 0.15 142);
  --color-warning: oklch(0.68 0.15 38);
  --color-warning-foreground: oklch(0 0 0);
  --color-success: oklch(0.47 0.15 142);
  --color-success-foreground: oklch(0.97 0.01 355);
  --color-info: oklch(0.58 0.18 199);
  --color-info-foreground: oklch(0.98 0.02 264);
  --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
